<div class="row mt-5">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Aplicación web</h3>
        <hr />
        <p class="card-text">para consumir servicio Rest de personas</p>
        <div class="row">
          <div class="col-12 col-md-4 mt-1">
            <button
              type="button"
              name=""
              id=""
              class="btn btn-dark btn-block"
              (click)="goAddPerson()"
            >
              Agregar persona
            </button>
          </div>
          <div class="col-12 col-md-4 mt-1">
            <button
              type="button"
              name=""
              id=""
              class="btn btn-dark btn-block"
              (click)="goList()"
            >
              Listar personas
            </button>
          </div>
          <div class="col-12 col-md-4 mt-1">
            <button
              type="button"
              name=""
              id=""
              class="btn btn-dark btn-block"
              (click)="goOnePerson()"
            >
              Consultar persona
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
